@model IEnumerable<Ihc.Models.Sala>

@{
    ViewData["Title"] = "Reserva de Salas";
}

<h1>Reserva de Salas</h1>

<p>
    <a asp-action="Create">Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSolicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
