@model IEnumerable<Ihc.Models.Noticia>

@{
    ViewData["Title"] = "Listado de Noticias";
}

<h1>Listado de Noticias</h1>

<p>
    <a asp-action="Create">Crear Nueva Noticia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="height= 100px;">
            <td style="max-width: 275px; white-space: nowrap; text-overflow: ellipsis;">
                <img src='@Html.DisplayFor(modelItem => item.Imagen)' width="250" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td style="overflow: hidden; max-height: 250px;" >
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
