@model IEnumerable<Ihc.Models.Formulario>

@{
    ViewData["Title"] = "Lista de Formularios";
}

<h1>Formularios</h1>

<p>
    <a asp-action="Create">Crear Nuevo Formulario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreFormulario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFormulario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
